body{
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/097/067/original/pexels-giallo-859895.jpg?1694696893");
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  background: rgba(232, 238, 238, 0.5);
  max-width: 650px;
  font-family: "EB Garamond", serif;
  margin:35px auto 20px;
  padding:12px;
  border-radius: 25px;
}
#dropbox {
  margin: 20px auto 20px;
}
h1{
  font-weight: 700;
}
h1,
footer {
  text-align: center;
}
.city-name{
  background: rgba(106, 114, 122, 0.8);
  font-size: 25px;
  text-shadow: 5px 5px 10px rgba(238, 236, 238, 0.4);
}
.index-card {
  display: block;
  margin: 0 auto;
  box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.3);
  background: rgba(174, 100, 100, 0.8);
  border:none;
}
.time{
  font-weight: 700;
  font-size: 30px;
}
.date{
  font-size:20px;
}
footer{
  color: #ffffff;
  margin-bottom: 20px;
}
.resume, .git, .pexels{
  color: rgb(233 194 212);
  text-decoration: none;
}
.resume:hover, .git:hover, .pexels:hover{
  text-decoration: underline;
}